/* .mainmenu .menuexample */
.mainmenu {margin: 1em 0;}
.mainmenu .menu { min-height: 2.5em; line-height: 2.5em; border: 1px solid #ccc; }
.mainmenu .menu li { float: left; display: block; position: relative; list-style: none; width: 156px; border-right: 1px solid #ccc; }
.mainmenu .menu li:last-child { border-right: none; }
.mainmenu .menu a { text-decoration: none; padding: 0 1em; display: block; }
.mainmenu .menu ul { display: none; position: absolute; top: 2.5em; left: -1px; min-width: 160px; background: #fff; border: none; }
.mainmenu .menu ul ul { left: 100%; top: -1px; }
.mainmenu .menu li.parent li { float: none; border: 1px solid #ccc; border-top: none; }
.mainmenu .menu li:hover { background: #ccc; }
.mainmenu .menu a:hover { color: #fff; }
.mainmenu .menu li:hover ul ul,
.mainmenu .menu li:hover ul li:hover ul ul { display: none; }
.mainmenu .menu li:hover ul,
.mainmenu .menu li:hover ul li:hover ul,
.mainmenu .menu li:hover ul li:hover ul li:hover ul { display: block; }
